<div id="mySidenav" class="sidenav">
  <br>
  <br>

  <div id="notes-toggle" class ="show-info-comments" style="cursor:pointer font-size: 30px" onclick="openNav()">
    <h6 class="comment-button-animation">Notes</h6>
  </div>
  <div class="container">
  <h5 id="hidden" class ="show-info-white hidden">Comment</h5>
  <p id="hidden" class ="show-info-key hidden">Blah blah blah blah</p>
  <p id="hidden" class ="show-info-key hidden">70 BPM</p>
  <p id="hidden" class ="show-info-key hidden">4/5 Rating</p>
  <br>
  <h5 id="hidden" class ="show-info-white hidden">Comment</h5>
  <p id="hidden" class ="show-info-key hidden">Blah blah blah blah</p>
  <p id="hidden" class ="show-info-key hidden">70 BPM</p>
  <p id="hidden" class ="show-info-key hidden">4/5 Rating</p>
  </div>
</div>
