.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-bottom: 10px;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

#nav-main-header {
  border-bottom: 2px solid black;
  color: black;
  font-size: 50px;
}

<<<<<<< HEAD
.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
          animation: bounce-top 0.9s both;

}

.metronome-old:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
          animation: heartbeat 1.5s ease-in-out infinite both;
}

=======
>>>>>>> f2a8c7e350178cacff3585fd1cf970263b59f64e
.nav-link {
color: black !important;
font-size: 4rem;
margin: 0 10px 0 0;
line-height: 3px;
}

.nav-link h2:hover {
color: black;
text-decoration: underline;
}

.rotate {
  transform: rotate(-90deg);
  margin-top: 80px;
}

.navbar-brand {
  height: 50px !important;
}

.browse {
  position: absolute;
  top: 0px;
  left: -10px;
}

.upload {
  position: absolute;
  top: 20px;
  left: 1140px;
}

.metronome-old {
  position: absolute;
  left: 970px;
  top: 14px;
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
}


.metronome-old:hover {
  background-color: black;
  color: white;
}


<<<<<<< HEAD
//

#metro {
  font-size: 20px;
  color: white;
  position: absolute;
  right: 130px;
}


.metronome {
  text-align: center;
  max-width: 375px;
  margin: 0 auto;
  padding: 30px;
  top: -50px;
  right: -100px;
  position: absolute;
}

.bpm-slider input {
  width: 100%;
  margin: 10px;
}

.metronome button {
  background: #22323d;
  padding: 10px;
  border: 1px solid white;
  border-radius: 2px;
  width: 100px;
  color: #fff;
  font-size: 18px;
}



=======
>>>>>>> f2a8c7e350178cacff3585fd1cf970263b59f64e

