.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-bottom: 25px;
  position: relative;
  background-image: url("https://res.cloudinary.com/dpxibu6l4/image/upload/v1573392746/geert-pieters-8QrPJ3Kfie4-unsplash_yk1k1d.jpg");
  background-size: cover;
  background-position: unset;
  z-index: 20;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

#nav-main-header {
  border-bottom: 2px solid white;
  color: white;
  font-size: 50px;
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
          animation: bounce-top 0.9s both;

}

.metronome:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
          animation: heartbeat 1.5s ease-in-out infinite both;
}

.nav-link {
color: black !important;
font-size: 4rem;
margin: 0 10px 0 0;
line-height: 3px;
}

.nav-link h2:hover {
font-size: 2rem;
text-decoration: underline;
}


.rotate {
  transform: rotate(-90deg);
  margin-top: 80px;
}

.navbar-brand {
  height: 50px !important;
}

.browse {
  position: absolute;
  top: 0px;
  left: -10px;
}

.browse-black {
  color: black;
  position: absolute;
  top: 25px;
  left: 12px;

}

.browse-white {
  color: white;
}



.upload {
  position: absolute;
  color: white;
  top: 20px;
  left: 1140px;
}

.metronome {
  position: absolute;
  left: 970px;
  top: 24px;
  border: solid 2px white;
  border-radius: 5px;
  padding: 5px;
  color: white;
}


.metronome:hover {
  background-color: black;
  color: white;
}


//





