.col {
  // background-image: url("paper.gif");
  border-left : 12px solid white;
  height: 400px;
  transform: skewX(-15deg);
  padding-right: 30px;
  padding-left: 30px;
}

.end {
  border-right : 3px solid white;
}
// .col:hover {
//   background-color: white;
//   opacity: 0.1;
// }

.main-page {
  border: 3px solid white;
  background-image: url("https://res.cloudinary.com/dpxibu6l4/image/upload/e_brightness:-36/v1573315212/marius-masalar-rPOmLGwai2w-unsplash_okvphx.jpg");
  background-position: center;
  background-size: inherit;

}

.main-page-second {
  border: 3px solid white;
  background-image: url("https://res.cloudinary.com/dpxibu6l4/image/upload/e_brightness:-36/v1573315212/marius-masalar-rPOmLGwai2w-unsplash_okvphx.jpg");
  background-position: center;
  background-size: cover;

}
.col p {
  // transform: skewX(8deg);
}

.body {
  background-color: white !important;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}
.each {
  color: white !important;
  border-top: solid white 8px;
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  transition: 1s;
}

.each:hover {
  color: white !important;
  border-top: solid #062639 30px !important;
}


.each #hover-image {
  color: white !important;
  height: 100px;
  visibility:hidden;
  transition: 0.8s;


}
.each:hover  {
  border-top: solid;
  height: 330px;
  opacity: 1;
  text-decoration: none;
}

.each:hover #hover-image{
    visibility:visible;

}

#played-on {
  visibility:hidden;
  font-family: 'Allura', cursive;
  margin-top: 10px;
}
.each:hover #played-on{
    visibility:visible;
}

.home-text {
  color: white;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.carousel-item{
    height: 350px;
    margin-top: 0px;
}
.carousel-item img{
    height: 350px;
    margin-top: 0px;
}

.carousel-item .col {
    height: 350px;
    margin-top: 0px;
}

.main-picture {
  background-image: url("https://res.cloudinary.com/dpxibu6l4/image/upload/v1573392746/geert-pieters-8QrPJ3Kfie4-unsplash_yk1k1d.jpg");
  background-position: right;
  background-size: inherit;

  height: 600px;
  width: 100%;

}

.footer-text {
  text-align: center;
  color: white;
  font-size: 30px;
}
