.index-card {
color: white;
list-style-type: none;
margin-top: 4px;
padding: 5px;
}

.card-product {
  overflow: hidden;
  background-color: #092639;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  margin-top: 4px;
  padding: 5px;
  transition: 0.5s;
  transform: skewX(-10deg);
}

.card-product:hover {
  height: 130px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;

}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  display: flex;
  align-items: center;
  padding: 16px;
}

.card-product-infos h2 {
  position: relative;
  height: 25px;
}

.card-product-infos h3 {
  height: 25px;
  color: white;
  font-size: 16px;
  padding-left: 30px;

}


.card-product-infos #bpm-key-card {
  position: absolute;
  right: 100px;

}

.song-search-input {
   text-align: center;
   width: 100%;
   padding-top: 20px;
}

.song-search-input #search-head {
   color: black;
}

#search-input {
  margin: 0 auto;
  margin-top: 20px;
  display: block;
  width: 500px;

}

.song-info {
    visibility:hidden;
    font-size: 10px;
    transition: 0.5s;
}

.index-card:hover .song-info {
    visibility:visible;
    transition: 0.5s;
}
