
.show-col-left {
  background-color: $off-white;
  padding-left: 30px;
  height: 900px;
  width: 10%;
  z-index: 21;
}

.row {
  position: relative;
  margin-top: 3px;
  width: 100%;
}
.show-col-left > img {
  position: absolute;
  top: -40px;
  left: 30px;
}

.show-col-right {
  background-color: $off-white;
  padding-left: 30px;
  height: 900px;
  width: 10%;
}

.show-contain {
  padding-left: 50px;
  padding-right: 50px;
}

h4 {
  color: black;
  font-size: 30px;

}

h5 {
  color: black;
  font-size: 25px;
}

h6 {
  color: black;
  font-size: 20px;
}

.show-col-left  p {
  color:black;
  font-weight: 500;

}

.show-col-center {
  margin-right: 10px;
}

.show-info-main {
  background-color: $off-white;
  color: black;
  padding-left: 20px;
}


.show-info {
  background-color: black;
  color: white;
  margin-left: 20px;
  padding: 5px 5px;
}

.show-info-time {
  background-color: #6E5954;
  color: white;
  padding: 5px 5px;
}

.show-info-search-head {
  background-color: black;
  color: white;
  // margin-left: 20px;
  padding: 5px 5px;
  opacity: 0.8;
  font-size: 20px;
  width: 60%;
  vertical-align:middle;
  margin: auto;
}


.show-info-comments {
  // background-color: #2F2FEF;
  font-size: 30px;
  color: white;
  margin-left: 20px;
  padding: 5px 5px;
}



.show-info-white {
  background-color: white;
  color: black;
  margin-left: 20px;
  padding: 5px 5px;
}

.show-info-key {
  background-color: #24313D;
  color: white;
  padding: 5px 5px;

}
