<div class="container">
  <div class="main-box container">
    <div class="row main-page">

    <div class="col column">

      <div class="each">
        <h5 class="home-text">The Rolling Stones</h5>
        <h6 class="home-text">Sympathy for the Devil</h6>
        <img id="hover-image"src="https://townsquare.media/site/295/files/2012/07/625-the-rolling-stones-1968-beggars-banquet-2006-remastered.jpg?w=980&q=75" alt="">
      <p id="played-on home-text">Played on Oct 5th</p>
      </div>

    </div>

    <div class="col column">

      <div class="each">
        <h5 class="home-text">Eric Satie</h5>
        <h6 class="home-text">Gnossienne No.1</h6>
        <img id="hover-image"src="https://lastfm-img2.akamaized.net/i/u/ar0/a7b1645019c6643c96fdb100a439e39f" alt="">
        <p id="played-on home-text">Played on Oct 5th</p>

      </div>

    </div>

    <div class="col">
    </div>

    <div class="col">
    </div>

    <div class="col end">
    </div>

  </div>

  </div>


</div>
