<div class="container">
  <div class="main-box container">
    <div class="row">

    <div class="col column">

      <div class="each">
        <h5>The Rolling Stones</h5>
        <h6>Sympathy for the Devil</h6>
        <p id="played-on">Last played on Oct 5th</p>
        <img id="hover-image"src="https://townsquare.media/site/295/files/2012/07/625-the-rolling-stones-1968-beggars-banquet-2006-remastered.jpg?w=980&q=75" alt="">
      </div>

    </div>

    <div class="col column">

      <div class="each">
        <h5>Eric Satie</h5>
        <h6>Gnossienne No.1</h6>
        <h6 id="played-on">Last played on Oct 5th</h6>
        <img id="hover-image"src="https://lastfm-img2.akamaized.net/i/u/ar0/a7b1645019c6643c96fdb100a439e39f" alt="">

      </div>

    </div>

    <div class="col">
    </div>

    <div class="col">
    </div>

    <div class="col end">
    </div>

  </div>

  </div>


</div>
